.navbar{
  display:flex;
  justify-content: space-around;
  padding:16px;
  box-shadow:0 1px 3px -2px black;
  
}
.nav-list_icon img{
  position:absolute;
  top:0;
  left:0;
}
.nav-menu{
  display:flex;
  align-items:center;
  list-style:none;
  gap:50px;
  color:rgb(92, 167, 126);  
  font-size:20px;
  font-weight:500;
}
.nav-menu li{
display:flex;
flex-direction:center;
align-items:center;
justify-content:center;
gap:3px;
cursor:pointer;
}
.nav-menu hr{
  border:none;
  width:80%;
  height:3px;
  border-raduint:10px;
  background: #FF4141;
}
.fas{
  color:rgb(29, 79, 29) ;
  position: absolute;
  top: 6%;
  left: 90%;
  font-size: xx-large;
} 
.nav-cart-count button:active {
  background: #FF4141;

}
.nav-cart-count{
  width:8px;
  height:8px;
  display: flex;
  justify-content:center;
  align-items:center;
margin-top:-40px;
margin-left:1300px ;
  border-raduis:50%;
  font-size:10px;
  background: red;
  color:white;
}