@font-face {
    font-family: MontserratBold;
    src: url(fonts/Montserrat-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FBF7EC;
}
header {
    font-family: MontserratBold;
    background-color: rgba(97, 56, 42, 0.43);
    text-align: center;
    position: sticky;
    top: 0;
    transition: top 0.3s;
    padding-top: 60px;
    padding-bottom: 20px;
    height: 70px;
}

.delivery-banner {
    display: flex;
    justify-content: flex-start;
    background-color: #445240;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    align-items: center;
    z-index: 1000;
}

.delivery-banner p {
    font-size: 12px;
    color: #FBF7EC;
    white-space: nowrap;
    padding: 0 2rem;
    letter-spacing: 1px;
    animation: move-rtl 6s linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

header .user ul {
    list-style: none;
}

header .user ul li {
    position: relative;
    float: right;
}

header .user ul li a:hover svg {
    fill: #deae98;
    transform: scale(1.2);
    transition: transform 0.3s ease, fill 0.3s ease;
}

header nav {
    background-color: transparent;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    font-size: 27px;
    display: flex;
    justify-content: flex-start;
    height: 70px;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #445240;
}

header nav ul li a:hover {
    color: #deae98;
    transition: color 0.3s;
    transform: scale(1.02);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.shop-list:hover {
    color: #deae98;
    transition: color 0.3s;
}

.shop-list:hover svg {
    fill: #deae98;
    transition: fill 0.3s;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: transparent;
    display: none;
}

.side-bar li ul {
    position: relative;
    right: 0;
    width: 200px;
    background: #FBF7EC;
    display: none;
}

header nav ul li ul li {
    width: 100%;
    border-bottom: 1px solid rgba(97, 56, 42, 0.43);
}

header nav ul li:focus-within>ul,
header nav ul li:hover>ul {
    display: initial;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 1000;
    background-color: #fbf7ec90;
    backdrop-filter: blur(10px);
    ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar li {
    width: 100%;
}

.side-bar a {
    width: 100%;
}

.menu-button {
    display: none;
}
main {
    background: url("assets/kk story bg.png") ;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(252,247,235, 0.7);
    min-height: 70vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 500px;

   
    
}

.content-container {
    padding: 30px;
    max-width: 900px; 
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;  
    margin-bottom: -250px;
}

.section-title {
   font-family: 'Canva Sans', sans-serif;
    color: #445240;
    font-size: 82.7px;
    margin-top: 40px;
    margin-left: -1000px;
    align-items: left; 
    justify-content: left;
    text-align: left;
}

.section-subtitle {
    font-size: 57.1px;
    font-family: 'Canva Sans', sans-serif;
    color: #41523e;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-text {
    font-family: 'Canva Sans', sans-serif;
    font-size: 23.6px; 
    color: #472f1c;
    line-height: 2.5; 
    margin-top: 20px; 
    font-weight: bold;
    text-align: center;
}
.section-text1 {
    font-family: 'Canva Sans', sans-serif;
    font-size: 23.6px; 
    color: #472f1c;
    line-height: 1.9;
    margin-top: 20px; 
    text-align: center;
}



footer {
    margin-top: -170px;
    bottom: 0;
    background-color: rgb(68, 82, 64);
    font-family: 'Canva Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}

.subscribe-container {
    text-align: center;
    color: #fff;
    margin-left: 15%;
}

.subscribe-title {
    margin-bottom: 30px;
    margin-left: 35px;
    font-size: 27.9px;
    font-weight: bold;
    color:#fcf7eb;
    font-family: 'Canva Sans', sans-serif;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 300px;
    transition: transform 0.3s ease;
}

.input-container:hover {
    transform: scale(1.05);
}

.email-input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.3); 
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.email-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.email-input:focus {
    border-color: #ffffff; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}

.arrow {
    position: absolute ;
    right: 15px;
    top: 30%;
    transform: translateY(-10%);
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
    color: #ffffff; 
    transform: scale(1.2); 
}
.image{
    background-image:url("assets/kk logo.png");
    margin-top:30px;
    transform: scale(2);
    margin-left: -50px;
    height:100px;
    width: 150px;
    background-size:200px ;
    filter: brightness(9) saturate(70%) sepia(90%) hue-rotate(40deg) contrast(1.2);
    
}


.social-icons {
    display: flex;
    margin-bottom:-80px;
    margin-left: 650px;
   
    
}

.social-icons a {
    color: #fff;
    padding: 20px;
    margin: 0px 1px; 
    font-size: 3rem; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.social-icons a:hover {
    color: #fff; 
    transform: scale(1.2); 
  
}
